.album-show-page {
  display: flex;
  /* border: 1px solid blue; */
  height: 875px;
  background-image: linear-gradient(to bottom right, rgb(60, 60, 60), rgb(7, 7, 7));
}

.album-show-title {
  font-size: 28px;
    line-height: 36px;
    letter-spacing: -.005em;
    font-weight: bold;
    /* color: #fff; */
    text-transform: none;
}


.album-show-left {
  display: block;
  /* border: 1px solid red; */
  text-align: center;
  margin-left: 95px;
  margin-top: 40px;
}

.album-show-image {
  width: 325px;
  height: 325px;
}

.album-show-play-button {
  background-color: #1db954;
  padding: 11px 44px;
  color: white;
  font-size: 12px;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  transition: all .3s ease-in-out;
  outline: 0;
}


.album-show-play-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.album-show-info {
  display: flex;
  text-align: center;
  padding-left: 117px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
}

.album-show-title {
  padding-bottom: 5px;
  color: white;
}

.album-show-artist {
  padding-bottom: 20px;
  color: rgb(194, 194, 194);
}

.album-show-year {
  font-size: 13px;
  color: rgb(194, 194, 194);
  padding-right: 5px;
}

.album-show-separator {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.album-show-song-number {
  font-size: 13px;
  color: rgb(194, 194, 194);
  padding-left: 5px;
}


.album-show-songs {
  display: block;
  /* border: 1px solid red; */
  margin-left: 75px;
  margin-top: 40px;
  width: 67%;
  padding-right: 100px;
  
}

.flex-music-song {
  display: flex;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.flex-music-song:hover {
  background-color: gray;
}


.album-music-note {
  padding-right: 10px;
  color: white;
}

.album-song-title {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.album-song-title:hover {
  color: rgb(3, 193, 3);
}

.album-backgrounddd {
  height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(to bottom right, rgb(60, 60, 60), rgb(7, 7, 7)); */
}

.album-show-hamburger {
  color: white;
  cursor: pointer;
}

.album-show-hamburger:hover {
  color: rgb(41, 214, 18);

}


.album-show-music-note-song-title {
  display: flex;
}


.drop-down-menu {
  background-color: rgb(60, 60, 60);
    width: 185px;
    height: 100px;
    position: fixed;
    visibility: hidden;
    height: 35px;
    margin-left: 525px;
    border: 1px solid white;
}

.active-dropdown {
  visibility: visible;
}

.album-show-hamburger:hover .drop-down-menu {
  display: block;
  width: 100px;
  height: 100px;

}
/* 
.drop-down-menu > li {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.drop-down-menu:hover { 
  display: block;
  z-index: 100;
  position: fixed;
  background-color: dark-grey;
  color: light-transparent;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 300;
 } */

.drop-down-actions li {
  padding: 10px;
  cursor: pointer;
  color: rgb(197, 194, 194);
}

.drop-down-actions li:hover {
  color: white;
}