.album-show-page {
  display: flex;
  /* border: 1px solid blue; */
  height: 875px;
  background-image: linear-gradient(to bottom right, rgb(60, 60, 60), rgb(7, 7, 7));
}

.album-show-title {
  font-size: 28px;
    line-height: 36px;
    letter-spacing: -.005em;
    font-weight: bold;
    /* color: #fff; */
    text-transform: none;
}


.album-show-left {
  display: block;
  /* border: 1px solid red; */
  text-align: center;
  margin-left: 95px;
  margin-top: 40px;
}

.album-show-image {
  width: 325px;
  height: 325px;
}

.album-show-play-button {
  background-color: #1db954;
  padding: 11px 44px;
  color: white;
  font-size: 12px;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  transition: all .3s ease-in-out;
}

.album-show-play-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.album-show-info {
  display: flex;
  text-align: center;
  padding-left: 117px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
}

.album-show-title {
  padding-bottom: 5px;
  color: white;
}

.album-show-artist {
  padding-bottom: 20px;
  color: rgb(194, 194, 194);
}

.album-show-year {
  font-size: 13px;
  color: rgb(194, 194, 194);
  padding-right: 5px;
}

.album-show-separator {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.album-show-song-number {
  font-size: 13px;
  color: rgb(194, 194, 194);
  padding-left: 5px;
}


.album-show-songs {
  display: block;
  /* border: 1px solid red; */
  margin-left: 75px;
  margin-top: 40px;
}

.flex-music-song {
  display: flex;
  padding-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
}

.album-music-note {
  padding-right: 10px;
  color: white;
}

.album-song-title {
  color: white;
}

