.album-page {

  background-image: linear-gradient(to bottom right, rgb(60, 60, 60), rgb(7, 7, 7));
  height: 900px;
  overflow: auto;
}

.each-album {
  width: 935px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 14px; 
  
}

.album-image {
  width: 250px;
  height: 250px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
}

.album-covers {
  padding-right: 10px;
  
}

.album-album-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.album-links {
  margin-left: 50px;
}

.album-artist-link {
  color: white;
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding-bottom: 25px;
}

.album-album-name {
  padding-bottom: 10px;
}

.sidebar-container-spacer {
  min-width: 200px;
}