.album-page {

  background-image: linear-gradient(to bottom right, rgb(60, 60, 60), rgb(7, 7, 7));
  height: 900px;
  overflow: auto;
}

.each-album {
  width: 935px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 14px; 
  transition: color 0.3s ease;
}

.album-image {
  width: 250px;
  height: 250px;
  padding-top: 75px;
  padding-left: 50px;
  padding-bottom: 10px;
  cursor: pointer;
}

.album-covers {
  padding-right: 10px;
  
}

.album-album-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

}

.album-album-link:hover {
  text-decoration: underline;

}

.album-links {
  margin-left: 50px;
}

.album-artist-link {
  font-size: 14px;
  color: rgb(152, 152, 152);
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding-bottom: 25px;
  margin-bottom: 105px;
  transition: color 0.3s ease;
  transition: text-decoration 0.3s ease;
}

.album-artist-link:hover {
  color: rgb(222, 220, 220);
  text-decoration: underline;
  
}

.album-album-name {
  padding-bottom: 10px;
}

.sidebar-container-spacer {
  min-width: 235px;
}

