.artist-index-page{
  min-height: 100vh;
  background-color: black;
  overflow: auto;
}

.artist-index-nav {
  color: white;
}

.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-index-image {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  padding-bottom: 10px;
  -webkit-transition: color .25s linear;
  transition: all .2s ease-in-out;
}

.artist-index-image:hover {
  transform: scale(1.1);
  /* border: 1px solid rgb(3, 203, 3); */
}

.artists-name-link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-bold);
  color: rgb(198, 198, 198);
  text-transform: none;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s ease;
  padding-bottom: 25px;
  /* transition: text-decoration 0.3s ease; */
}

.artists-name-link:hover {
  color: white;
  text-decoration: underline;
}

.artist-pic-and-name {
  display: block;
  padding: 30px;
  text-align: center;
}

.artist-pic-and-name:last-child {
  padding-bottom: 120px;
}