.containers {
  display: flex;
}

.bigggy {
  width: 1690px;
}

.sidebar-container {
  background: black;
  text: white;
  min-width: 200px;
  /* border: 1px solid red; */
  padding-left: 35px;
  padding-top: 30px;

  position: fixed;
  height: calc(100vh - 30px);
  
} 