
footer {
  background-color: rgb(91, 89, 89);
  border-top: 1px solid rgb(206, 206, 206);
  height: 100px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.music_bar {
  
  height: 100px;
  position: fixed;
}

.music-bar-content {
  margin-left: 0px;
  width: 55%;
  height: 100px;
  display: flex;
  border: 2px solid blue;
  justify-content: space-between;
  align-items: center;
}

.music-bar-song-info {
  padding: 50px;
}

.music-bar-song-title {
  color: white;
  padding-bottom: 5px;
}


