.nav-all {
  
  height: 100px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(26, 23, 23);
  width: 100%;
}

.nav-links {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-left: 15%;

  font-family: 'Montserrat', sans-serif;
}

.nav-links:last-child {
  align-self: flex-end;
}

.nav-link-links {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-self: center;

}

.nav-playlist {
  text-decoration: none;
  color: rgb(187, 187, 187);
  transition: color 0.3s ease;
  transition: font-size 0.3s ease;
}

.nav-playlist:hover {
  color: white;
  font-size: 17px;
}

.nav-artist {
  text-decoration: none;
  color: rgb(187, 187, 187);
  transition: color 0.3s ease;
  transition: font-size 0.3s ease;
}

.nav-artist:hover {
  color: white;
  font-size: 17px;
}

.nav-album {
  text-decoration: none;
  color: rgb(187, 187, 187);
  transition: color 0.3s ease;
  transition: font-size 0.3s ease;
}

.nav-album:hover {
  color: white;
  font-size: 17px;
}

.new-playlist-button {
  background-color: #1db954;
  font-size: 11px;
  letter-spacing: .16em;
  text-align: center;
  border-radius: 500px;
  min-width: 130px;
  color: rgba(255, 255, 255, 0.831);
  padding: 8px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: all .5s ease-in-out;
  border: none;
  outline: 0;
}

.new-playlist-button:hover {
  background-color: rgb(0, 186, 0);
  transform: scale(1.1);
}

.current-view {
  border-bottom: 1px solid rgb(14, 205, 14);
}