.nav-all {
  /* margin-left: 150px; */
  height: 100px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(26, 23, 23);
  width: 100%;
  
}

.nav-links {
  display: flex;
  width: 500px;
  justify-content: space-between;
  /* border: 1px solid  blue; */
  font-family: 'Montserrat', sans-serif;
}

.nav-playlist {
  text-decoration: none;
  color: #fff;
}

.nav-artist {
  text-decoration: none;
  color: #fff;
}

.nav-album {
  text-decoration: none;
  color: #fff;
}

.new-playlist-button {
  background-color: #1db954;
  font-size: 11px;
  letter-spacing: .16em;
  text-align: center;
  border-radius: 500px;
  min-width: 130px;
  color: white;
  padding: 8px 30px;
  margin-left: 200px;
  cursor: pointer;
}