.nav-all {
  /* margin-left: 150px; */
  height: 100px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(26, 23, 23);
  width: 100%;
  
}

.nav-links {
  display: flex;
  width: 500px;
  justify-content: space-between;
  /* border: 1px solid  blue; */
  font-family: 'Montserrat', sans-serif;
}

.nav-playlist {
  text-decoration: none;
  color: rgb(187, 187, 187);
  transition: color 0.3s ease;
}

.nav-playlist:hover {
  color: white;
}

.nav-artist {
  text-decoration: none;
  color: rgb(187, 187, 187);
  transition: color 0.3s ease;
}

.nav-artist:hover {
  color: white;
}

.nav-album {
  text-decoration: none;
  color: rgb(187, 187, 187);
  transition: color 0.3s ease;
}

.nav-album:hover {
  color: white;
}

.new-playlist-button {
  background-color: #1db954;
  font-size: 11px;
  letter-spacing: .16em;
  text-align: center;
  border-radius: 500px;
  min-width: 130px;
  color: rgba(255, 255, 255, 0.831);
  padding: 8px 30px;
  margin-left: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.new-playlist-button:hover {
  background-color: rgb(0, 203, 0);
}