.playlist-page {
  /* background-image: linear-gradient(rgb(6, 92, 18), rgb(5, 39, 133)); */
  /* padding: 0px; */
  height: 100%;
}

.all-playlist-boxes {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-image: linear-gradient(rgb(22, 7, 55), rgb(8, 8, 9));
  overflow-x: visible;
  min-height: 80vh;
}

.playlist-index-box {
  display: block;
  /* border: 1px solid red; */
  margin-left: 75px;
  margin-top: 50px;
  margin-bottom: 105px;
}

.playlist-index-box:hover {
  /* background-color: black; */
  /* cursor: pointer; */
}

.playlist-index-box p {
  margin: 0px;
  margin-top: 15px;
  padding: 5px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
}

.playlist-title {
  font-weight: bold;
  /* transition: border-bottom 0.3s ease; */
}

.playlist-title:hover {
  border-bottom: 1px solid rgb(3, 192, 3);
  cursor: pointer;
}

.playlist-username {

}

.playlist-username:hover {
  /* border-bottom: 3px solid white; */
  /* cursor: pointer; */
}

.playlist-index-images {
  width: 275px;
  height: 275px;
  transition: width 1s ease;
  transition: height 1s ease;
  -webkit-transition: color .25s linear;
}

.playlist-index-images:hover {
  width: 285px;
  height: 285px;
  border: 1px solid rgb(3, 203, 3);

}
