.playlist-show-page {
  height: 900px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(rgb(32, 2, 32), rgb(4, 17, 53));
}

.playlist-show-left {
  text-align: center;
}

.playlist-show-images {
  margin-top: 40px;

  padding-left: 200px;
  width: 325px;
  height: 325px;


}

.play-button {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .16em;
  background-color: #1db954;
  padding: 11px 44px;
  border-radius: 500px;
  cursor: pointer;
  color: white;
  border: none;
  transition: all .3s ease-in-out;
  outline: 0;
}

.play-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.playlist-show-info {
  list-style-type: none;
  padding-left: 200px;
  color: white;
}

.playlist-show-title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.playlist-show-username {
font-size: 13px;
padding-bottom: 25px;
}

.playlist-show-length {
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 100px;
  text-transform: uppercase;
}

.playlist-show-songs {
  margin-top: 60px;
  margin-left: 100px;
  /* border: 1px solid red; */
  list-style-type: none;
  color: white;
  width: 67%;
  padding-right: 100px;
}

.delete-button {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .16em;
  background-color: #1db954;
  padding: 11px 44px;
  border-radius: 500px;
  cursor: pointer;
  border: none;
  transition: all .3s ease-in-out;
  outline: 0;
  color: rgb(230, 224, 224);
}

.delete-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.playlist-show-each-song {
  /* border: 1px solid blue; */
  /* width: 100%; */
  margin-bottom: 25px;
  display: flex;
}


.playlist-show-song-title {
  font-size: 18px;
  margin-bottom: 5px;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.playlist-show-song-title:hover {
  color: rgb(12, 196, 12);
  
}

.playlist-show-song-artist-album {
  display: flex;
  align-items: center;

}

.playlist-show-song-artist {
  color: rgb(172, 172, 172);
  padding-right: 5px;
  font-size: 14px;
  letter-spacing: 0.03em;
  
}

.playlist-show-song-separator {
  color: white;
  font-size: 18px;
}

.playlist-show-song-album {
  color: rgb(172, 172, 172);
  padding-left: 5px;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.playlist-show-song-album:hover {
  color: rgb(12, 196, 12);
}

.playlist-music-note {
  padding-right: 15px;
}



.hamburger-icon-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.drop-down-menuu {
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(41, 214, 18); */
    width: 185px;
    height: 100px;
    position: fixed;
    visibility: hidden;
    height: 35px;
  margin-left: 400px;
 
}

.active-dropdownn {
  visibility: visible;
  /* width: 100px; */

}

.drop-down-actionss {
  margin-right: 50px;
  cursor: pointer;
  /* background-color: rgb(143, 148, 143); */
  /* color: black; */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 1px solid white;
  color: rgb(196, 189, 189);
}

.drop-down-actionss:hover {
  color: rgb(255, 249, 249);

}

.delete-song-text {
  padding: 2px;
}

.box {
	margin: 1rem auto 1rem auto;
	max-width: 300px;
	border: 1px solid #555;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	font-size: 1.5rem;
}

.js-is-hidden {
	display: none;
}