.sidebar_all{
  color: white;
  padding-left: 25px;
  /* position: fixed;
  height: 100%;
  border: 1px solid red; */
}

.sidebar-all p {
  color: white;
}

.sidebar-all i {
  color: white;
  font-size: 40px;
}

.sidebar-logo-name {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}

.search-mag-glass-link {
  text-decoration: none;
}

.search-mag-glass-link:hover {
  color: rgb(3, 193, 3);
}

.magnifying-glass {
  color: white;
  padding-left: 10px;
  text-decoration: none;
  font-size: 20px;
}

.magnifying-glass:hover {
  color: rgb(3, 193, 3);
}

.sidebar-name {
  font-size: 25px;
  padding-left: 15px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.sidebar-name:hover {
  color: rgb(3, 193, 3);
}

.search-pic-name {
  display: flex;
  padding-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.search-pic-name:hover {
  /* color: rgb(3, 193, 3); */
}

.searchh {
  padding-left: 22px;
}

.search-linkk {
  padding-left: 22px;
  transition: color 0.3s ease;
  text-decoration: none;
  font-size: 18px;
}

.search-color {
  margin-top: 4px;
  margin-left: 8px;
  transition: color 0.2s ease;
}

.search-color:hover {
  /* color: rgb(7, 187, 7); */
}

.home-pic-name {
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 15px;
}

.home-pic-name:hover {
  color: rgb(7, 187, 7);
}

.home-name {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  margin-top: 5px;
  padding-left: 25px;
}

.home-name:hover {
  color: rgb(7, 187, 7);
}

.search-home-pic-link{
  text-decoration: none;
}

.search-home-pic-link:hover{
  color: rgb(7, 187, 7);
}

.home-all {
  color: white;
  font-size: 18px;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;

}

.home-all:hover {
  color: rgb(7, 187, 7);
}


.home-pic {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 27px;
  padding-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.home-pic:hover {
  color: rgb(7, 187, 7);

}

.lib-pic-name {
  display: flex;
}

.lib-name {
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  padding-top: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
  color: white;
}

.lib-name:hover {
  color: rgb(7, 187, 7);
}

.lib-pic {
  padding-left: 8px;
  padding-top: 17px;
}


.sidebar-bottom {
  /* border: 1px solid red; */
  /* border: 1px solid red; */
    position: fixed;
    bottom: 150px;
    left: 75px;
}

.sidebar-user {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding-bottom: 45px;
  font-size: 20px;

}

.sidebar-welcome {
  padding: 0px;
  /* margin-top: 405px; */

}

.center-welcome-user {
  /* border: 1px solid blue; */
  text-align: center;
  margin-right: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.logout-button {
  background-color: #20a54e;
  padding: 11px 44px;
  color: white;
  font-size: 12px;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  position: fixed;
  transition: background-color 0.3s ease;
  transition: all .3s ease-in-out;
  outline:0;
  left: 45px;
}

.logout-button:hover {
  background-color: #24d462;
  transform: scale(1.1);
}

