.splashAll {
  height: 975px;
  

  font-family: 'Montserrat', sans-serif;
  color: white;
  background-repeat: round;
  /* object-fit: cover; */
  background-image: linear-gradient(
                  rgba(20, 20, 20, .4),
                  rgba(20, 20, 20, .4)),
                  url('bubbles1.jpg');
}

/* Navigation Bar */
.splashNavBar {

  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;
        height: 70px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.4);
}

.nav-right {
  display: flex;
  align-items: center;
  padding-left: 175px;
}

.nav-right i {
  font-size: 35px;
  padding-right: 5px;
  color: #1ecd5b;
}

.nav-left {
  width: 130px;
  display: flex;
  justify-content: space-between;
  padding: 175px;
}

.signup, .login {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  transition: font-size 0.3s ease;
}

.signup:hover {
    /* text-decoration: underline; */
    /* border-bottom: 2px solid #1fa14d;
    border-bottom-color: #1fa14d; */
    color: #1ecd5b;
    font-size: 18px;
}

.login:hover {
    /* text-decoration: underline; */
    /* border-bottom: 2px solid #1fa14d;
    border-bottom-color: #1fa14d; */
    color: #1ecd5b;
    font-size: 18px;
}

.splashNavBar p {
  font-size: 20px;
  color: white;
  margin: 0px;
}


/* Body */
.body-all {
  width: 100%;
  height: 900px;
  text-align: center;
}

.body {
  padding-top: 250px;
}

.body h1 {
  font-size: 50px;
  letter-spacing: 1.5px;
  margin: 0;
  padding-bottom: 15px;
  font-weight: bold;
}

.body h3 {
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: normal; 
  margin: 0;
  padding-bottom: 37px;
}

.splash-button {
  background-color: #1fa14d;
  color: white;
  font-size: 14px;
  padding: 16px 48px 18px;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  transition: all .5s ease-in-out;
}

.splash-button:hover {
    text-decoration: none;
    background-color: #17bd51;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
    transform: scale(1.1);
  }


.splash-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

